section {
  max-width: 100%;
  margin: 38px auto;
}
p {
  margin-bottom: 0 !important;
}
.grid {
  display: grid;
  grid-gap: 38px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.border-section,
.border-section-img {
  border: var(--border);
}
.border-section {
  padding: 80px 65px;
}

.border-section-img {
  background: url("../assets/images/ML.jpeg");
  background-size: cover;
  opacity: 0.6;
  background-blend-mode: screen;
  min-width: 400px;
  min-height: 350px;
}
.Main h2,
.Main h3 {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.25em;
  text-align: center;
}

.Main h2 {
  margin-bottom: 22px;
  text-transform: uppercase;
}
.Main h3 {
  margin-bottom: 12px;
}
.Main p,
.Main .project-link {
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}
.Main .icons {
  text-align: center;
  opacity: 0.5;
  margin-top: 18px;
}

i {
  color: white;
  font-size: 24px;
  padding: 6px;
}
