:root {
  --border: 0.5px solid white;
  --accent-color: #211b23;
}
.App {
  background-color: #2b232d;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  color: white;
  padding-top: 40px;
}
.App .container {
  width: 70%;
  margin: 0 auto;
}
.App header {
  text-align: center;
  color: white;
  padding: 120px 130px;
  margin: 0 auto;
  border: var(--border);
}
.App p {
  font-size: 12px;
  line-height: 19px;
}
.App strong {
  font-weight: bold;
}
.App a {
  color: white;
}
.App a:hover {
  text-decoration: none;
}
.App footer {
  background-color: #211b23;
  padding: 0 35px 35px 35px;
}
.App .footer-content {
  max-width: 70%;
  margin: 0 auto;
}
.App .footer-text,
.App small {
  line-height: 15px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.App small {
  font-size: 8px;
}
.App .footer-text {
  text-align: left;
  font-size: 10px;
}

.App .mlLogoSmall {
  margin: 52px 0 12px 0;
  width: 130px;
}
.App .gitLink {
  text-decoration: none;
  color: white;
}
.App .gitLink:hover {
  text-decoration: underline;
}
