:root {
  --border: 0.5px solid white;
  --accent-color: #211b23;
}
.App {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  color: white;
  padding-top: 35px;
}
.App .container {
  width: 80%;
  margin: 0 auto;
}
.App header {
  text-align: center;
  color: white;
  padding: 120px 130px;
  margin: 0 auto;
  border: var(--border);
}
.App p,
.App h1 {
  font-size: 12px;
  line-height: 19px;
  margin: 0;
}

.App a {
  color: white;
}
.App a:hover {
  text-decoration: none;
}
@media (max-width: 1050px) {
  .App header {
    padding: 60px 90px;
  }
  .Main .grid-2-columns {
    grid-template-columns: 1fr;
  }
  .border-section {
    padding: 60px 90px;
  }
  .text-block {
    height: 70px;
  }
  .more-frame {
    display: none;
  }
}
@media (max-width: 700px) {
  .App .container {
    width: 90%;
  }
  .App {
    padding-top: 10px;
  }
  .App header {
    padding: 45px 45px;
  }
  .App p {
    font-size: 10px;
  }
  .App h2 {
    font-size: 12px;
  }
  .Main .border-section {
    padding: 45px 45px;
  }
  .border-section-img {
    min-width: 200px;
    min-height: 230px;
  }
  .border-section {
    padding: 45px 45px;
  }
  .Portfolio img {
    display: none;
  }
  .Portfolio button {
    margin-top: 10px;
  }
  .Portfolio .project-links {
    margin-top: 8px;
  }
  .text-block {
    height: 95px;
  }
  .project-links button {
    padding: 3px 6px;
  }
  .project-link {
    font-size: 7px !important;
  }
  form {
    width: 90%;
  }
  .Contact .form-control {
    font-size: 10px;
  }
}
