:root {
  --border: 0.5px solid white;
  --accent-color: #211b23;
}
.App {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  color: white;
  padding-top: 35px;
}
.App .container {
  width: 80%;
  margin: 0 auto;
}
.App header {
  text-align: center;
  color: white;
  padding: 120px 130px;
  margin: 0 auto;
  border: var(--border);
}
.App p {
  font-size: 12px;
  line-height: 19px;
}
.App strong {
  font-weight: bold;
}
.App a {
  color: white;
}
.App a:hover {
  text-decoration: none;
}
@media (max-width: 1050px) {
  .App header {
    padding: 60px 90px;
  }
}
