form,
.btn {
  font-size: 10px;
  line-height: 19px;
  letter-spacing: 0.25em;
}
form {
  width: 70%;
  margin: 0 auto;
}

.form-control {
  padding: 10px;
  height: 35px;
  color: white !important;
  font-size: 14px;
  border: none !important;
  border-bottom: 1px solid white !important;
  border-radius: 0 !important;
}

.form-control:focus {
  outline: 0;
  box-shadow: none !important;
}

.no-background {
  background-color: transparent !important;
}

.btn {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  padding: 8px 0 !important;
  line-height: 1.5;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-decoration: none;
  color: white !important;
  font-size: 10px !important;
  display: block;
  margin: 20px auto !important;
  border-radius: 0 !important;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.26) !important;
  transition: 0.2s ease-in-out;
}
