.Footer {
  padding: 38px 10px 38px 10px;
}

.Footer footer {
  max-width: 80%;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 20px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.Footer .footer-text {
  line-height: 15px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.Footer .footer-text {
  text-align: left;
  font-size: 10px;
  margin-bottom: 0;
}

.Footer .mlLogoSmall {
  margin-bottom: 12px;
  width: 130px;
}

.Footer .Resume-link,
.Footer .contact-icons a,
.Footer .git-link {
  text-decoration: none;
}
.Footer .Resume-link:hover,
.Footer .git-link:hover {
  text-decoration: underline;
}

.Footer .footer-right {
  margin-top: 30px;
}
.Footer .contact-icons {
  display: flex;
  justify-content: flex-end;
}

.Footer .contact-icons i {
  font-size: 32px !important;
}

.Footer .contact-icons i:hover {
  transition: 0.2s ease-in-out;
  color: white !important;
}

.Footer .git {
  margin-top: 10px;
  font-size: 8px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 700px) {
  .Footer footer {
    font-size: 10px;
  }
  .grid-2-columns {
    grid-template-columns: 1fr;
  }
  .Footer .contact-icons,
  .Footer .git {
    display: block;
  }
  .Footer .contact-icons i {
    font-size: 18px !important;
    padding-left: 0;
  }
  .Footer .footer-right {
    margin-top: 0;
  }
}
