.Navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-night {
  background-color: #2b232d !important;
}

.navbar-day {
  background-color: #857c87 !important;
}

body .navbar {
  background-color: transparent !important;
  border-color: transparent !important;
  margin: 0 auto;
  margin-left: -10px;
  margin-right: -20px;
  margin-bottom: 15px;
  height: 60px;
  padding-top: 30px;
}

.navbar-nav .nav-link {
  color: white !important;
  font-size: 14px;
  margin-left: 5px;
  letter-spacing: 0.25em;
}
.mlLogo {
  width: 265px;
  margin-bottom: 20px;
}
