.text-block {
  height: 90px;
}

.project-links button {
  margin: 0 10px;
  padding: 5px 8px;
  line-height: 0;
  letter-spacing: 0.25em;
  border: none;
  background-color: #665d68;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
  transition: 0.2s ease-in-out;
}
.project-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.project-link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 10px !important;
}

.project-icon {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 80px;
}
